/* resets*/
* {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}
html, body, div, header, section {
    display: flex;
    flex: 1;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: var(--primary-color);
    background: var(--background);
    background-color: var(--background-color);
    margin: 40px 0;
}
.container {
    flex-direction: column;
}

.container header .title-wrap {
    flex-direction: column;
}

.container main {
    flex-direction: column;
    flex: 1;
    margin-top: 50px;
}
.container main .big-cards,
.container main .overview-cards {
    margin: 0 -12px 50px;
    flex-wrap: wrap;
}