/* resets*/
* {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: var(--primary-color);
    background: var(--background);
    background-color: var(--background-color);
    margin: 40px 0;
}
header {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}
.container {
    flex-direction: column;
}
.container * {
    transition: all 0.5s ease-out;
}

.container header .title-wrap {
    flex-direction: column;
}

.container main {
    flex-direction: column;
    flex: 1;
    margin-top: 30px;
}
.container main .big-cards,
.container main .overview-cards {
    margin: 0 -12px 50px;
    flex-wrap: wrap;
}